.thumbnails .img-hover { margin: inherit; }

.catalog-groups .catalog-group-items { margin-bottom: 30px; }
.catalog-groups .catalog-group-items .media-heading > a { color: #777777; font-weight: 500; font-size: 16px; }
.catalog-groups .catalog-group-items .media-heading > a:visited { color: #777777; }
.catalog-groups .catalog-group-items .media-heading > a:focus { color: #777777; }
.catalog-groups .catalog-group-items .media-heading > a:hover { color: #5e5e5e; }
.catalog-groups .catalog-group-items .media-heading > a:active { color: #777777; }
.catalog-groups .catalog-group-items .list-items li { margin-bottom: 5px; }

.catalog-item .dl-horizontal { margin: auto; }
.catalog-item .dl-horizontal dt { width: auto; }
.catalog-item .dl-horizontal dd { margin-left: 80px; }
.catalog-item .form-horizontal .properties-item { min-height: 230px; }
.catalog-item .form-horizontal .control-group { margin-bottom: 5px; }
.catalog-item .form-horizontal .control-group .control-label { width: 120px; font-weight: bold; }
.catalog-item .form-horizontal .control-group .controls { margin-left: 150px; }
.catalog-item .form-horizontal .control-group .controls input { border-color: transparent; box-shadow: none; }
.catalog-item .specifications-item { margin-top: 30px; }
.catalog-item .specifications-item .messages .message-name { text-transform: capitalize; font-weight: bold; }
.catalog-item .specifications-item .messages .message-info { line-height: 30px; font-size: 80%; }
.catalog-item .specifications-item .messages .message-info > span { margin-right: 10px; }
.catalog-item .specifications-item .messages .message-info .rating { color: #EA2125; }
