@font-face { font-family: "pf_agora_sans_proregular"; src: url(/fonts/pfagorasanspro-reg-webfont.eot) format('embedded-opentype'), url(/fonts/pfagorasanspro-reg-webfont.woff) format('woff'), url(/fonts/pfagorasanspro-reg-webfont.ttf) format('truetype'), url(/fonts/pfagorasanspro-reg-webfont.svg) format('svg'); }

@font-face { font-family: "pf_agora_sans_proMdIt"; src: url(/fonts/pfagorasanspro-mediumital-webfont.eot) format('embedded-opentype'), url(/fonts/pfagorasanspro-mediumital-webfont.woff) format('woff'), url(/fonts/pfagorasanspro-mediumital-webfont.ttf) format('truetype'), url(/fonts/pfagorasanspro-mediumital-webfont.svg) format('svg'); }

@font-face { font-family: "PFDinDisplayProLight"; src: url(/fonts/pfdindisplaypro-light-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-light-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-light-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-light-webfont.svg) format('svg'); }

@font-face { font-family: "PFDinDisplayProRegular"; src: url(/fonts/pfdindisplaypro-reg-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-reg-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-reg-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-reg-webfont.svg) format('svg'); }

@font-face { font-family: "PFDinDisplayProExtraThin"; src: url(/fonts/pfdindisplaypro-xthin-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-xthin-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-xthin-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-xthin-webfont.svg) format('svg'); }

html, body { height: 100%; }

.layout { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -310px; }
.layout .layout-footer { height: 310px; }

.footer { clear: both; position: relative; height: 310px; }

body { background-image: url('/images/body.jpg?1405161367'); background-position: 0 0; background-repeat: repeat; overflow-x: visible; }

h1, h2, h3, h4, h5, h6 { color: #777; text-shadow: white 0px 1px 0px; }
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { color: #2f2f2f; }
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited { color: #2f2f2f; }
h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus { color: #2f2f2f; }
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover { color: #161616; }
h1 > a:active, h2 > a:active, h3 > a:active, h4 > a:active, h5 > a:active, h6 > a:active { color: #2f2f2f; }

select .empty { display: none; }

textarea { resize: vertical; }

.required { position: relative; }
.required:after { content: "*"; color: red; position: absolute; display: block; right: -10px; top: 0; }

.wrapper { padding: 0 50px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) -10px 0px 8px, rgba(0, 0, 0, 0.1) 10px 0px 8px; -moz-box-shadow: rgba(0, 0, 0, 0.1) -10px 0px 8px, rgba(0, 0, 0, 0.1) 10px 0px 8px; box-shadow: rgba(0, 0, 0, 0.1) -10px 0px 8px, rgba(0, 0, 0, 0.1) 10px 0px 8px; }
.wrapper.layout { background-color: #fff; border-top: 15px solid #231f20; }
.footer .wrapper { background-color: #231f20; }

.unified { font-family: 'Arial','Tahoma',sans-serif; font-size: 18px; font-weight: 500; letter-spacing: normal; line-height: 1em; margin-top: 0; margin-bottom: 20px; text-transform: uppercase; }
.unified.page-title { color: #9D9D00; font-size: 24px; text-transform: none; }

.h1 { font-size: 32px; font-weight: 500; line-height: 1; }

.h2 { font-size: 24px; }

.h3 { font-size: 18px; }

.h4 { font-size: 13px; font-weight: 700; }

.img-hover { margin-bottom: 10px; margin-right: 20px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.img-hover:hover { -webkit-box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 6px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 6px; box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 6px; }
.thumbnail .img-hover { margin: 0; }

a.img-hover { display: inline-block; }

.line { height: 1px; margin: 25px auto; overflow: hidden; }

.line-dotted { border-bottom: 1px dotted #524E4E; border-top: 0; }

.line-solid { background-color: #ccc; border-bottom: 1px solid #F9F9F9; }

.header { margin-bottom: 10px; margin-top: 15px; }
.header .logo { margin-top: 4px; }
.header .logo > span { width: 149px; font-family: "PFDinDisplayProLight"; font-size: 11px; text-transform: uppercase; display: block; }
.header .top-menu { margin-bottom: 22px; margin-top: 5px; font-size: 13px; }
.header .top-menu .navbar .divider-vertical { border-right-color: #909090; }
.header .main-menu { text-shadow: white 0px 1px 0px; }
.header .main-menu .navbar { margin-bottom: 0; }
.header .main-menu .navbar .navbar-search .search-query { font-size: 11px; line-height: 20px; margin-top: 2px; padding-top: 2px; padding-bottom: 2px; }
.header .head-contact { color: #777; text-shadow: white 0px 1px 0px; }
.header .head-contact > span { font-size: 11px; }
.header .head-contact .phone { margin-bottom: 10px; font-family: "PFDinDisplayProLight"; font-size: 28px; line-height: normal; }
.header .head-contact .phone > i { font-size: 80%; }
.header .breadcrumb { background-color: transparent; }

.main { margin-bottom: 40px; }
.main .price { font-size: 22px; font-weight: bold; line-height: 30px; color: #EA2125; }
.main .img-content.pull-left { margin-right: 30px; margin-bottom: 20px; }

.row-fluid .left-menu { margin-left: 0; }

.footer { position: relative; background-color: transparent; color: #999; font-size: 12px; }
.footer .container { padding-top: 20px; min-height: 310px; }
.footer .copyright { margin-bottom: 20px; }
.footer .nav:last-child { margin-bottom: 0; }
.footer .nav .nav-header { border-bottom: 1px dotted #524E4E; margin-bottom: 10px; margin-right: 25px; padding-top: 0; padding-bottom: 3px; padding-left: 0; padding-right: 0; text-shadow: none; font-size: 13px; }
.footer .nav.fa-ul .nav-header { margin-left: -25px; }
.footer .nav.fa-ul .fa-li { margin-top: 2px; }
.footer .nav > li > a { display: inline-block; color: inherit; }
.footer .nav > li > a:hover { color: #d9d9d9; background-color: transparent; }
.footer .nav.contact > li > a { border-bottom: 1px dashed #999; }
.footer .nav.contact > li > a:hover { border-bottom-style: solid; }
.footer .social { margin-top: 40px; }
.footer .social .soc-ico { display: block; height: 24px; width: 25px; }
.footer .social .soc-ico.vk { background: url('/images/social-s45d308d236.png') -1px -87px; }
.footer .social .soc-ico.facebook { background: url('/images/social-s45d308d236.png') -1px -29px; }
.footer .social .soc-ico.odnoklassniki { background: url('/images/social-s45d308d236.png') 0 0; }
.footer .social .soc-ico.twitter { background: url('/images/social-s45d308d236.png') -2px -58px; }
.footer .line-solid { background-color: black; border-bottom: 1px solid #4c4345; }

.catalog-menu { border-color: #ddd; -webkit-border-radius: 4px 4px; -moz-border-radius: 4px / 4px; border-radius: 4px / 4px; -webkit-box-shadow: rgba(0, 0, 0, 0.0555) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.0555) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.0555) 0 1px 3px; background-color: #f9f9f9; margin-top: 44px; }
.catalog-menu .nav-header { background-color: #e4e4e4; color: #6e6e6e; font-family: arial,tahoma,sans-serif; font-size: 14px; font-weight: 500; text-transform: uppercase; line-height: 28px; }
.catalog-menu > li > a { position: relative; }
.catalog-menu > li > a > i.pull-right { line-height: inherit; position: absolute; right: 8px; }

.white-popup-block .modal-label { font-size: 13px; font-weight: bold; color: #999; line-height: 20px; margin: 10px 0; text-transform: uppercase; }
.white-popup-block .modal-body { max-height: 100%; margin-top: 20px; }
.white-popup-block .modal-body .message { min-height: 20px; margin-bottom: 20px; padding: 24px; }
.white-popup-block > form { margin: 0; border: 1px solid #eee; }

.spinner { margin: 100px auto; width: 60px; height: 60px; position: relative; }
.spinner .container1 > div, .spinner .container2 > div, .spinner .container3 > div { width: 12px; height: 12px; background-color: #fff; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; /* Prevent first frame from flickering when animation starts */ -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.spinner .spinner-container { position: absolute; width: 100%; height: 100%; }
.spinner .container1 .circle2 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.spinner .container1 .circle3 { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
.spinner .container1 .circle4 { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }
.spinner .container2 { -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.spinner .container2 .circle1 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.spinner .container2 .circle2 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.spinner .container2 .circle3 { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }
.spinner .container2 .circle4 { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
.spinner .container3 { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg); }
.spinner .container3 .circle1 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
.spinner .container3 .circle2 { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
.spinner .container3 .circle3 { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
.spinner .container3 .circle4 { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }
.spinner .circle1 { top: 0; left: 0; }
.spinner .circle2 { top: 0; right: 0; }
.spinner .circle3 { right: 0; bottom: 0; }
.spinner .circle4 { left: 0; bottom: 0; }

@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); }
  40% { -webkit-transform: scale(1); } }

@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0); -webkit-transform: scale(0); }
  40% { transform: scale(1); -webkit-transform: scale(1); } }
