@import "compass/utilities";
@import "compass/layout";
@import "compass/css3";

$group-sprite: sprite-map("catalog/group/*.png", $position: 100%, $spacing: 5px, $repeat: no-repeat);
$social-sprite: sprite-map("social/*.png", $position: 100%, $spacing: 5px, $repeat: no-repeat);
$client-sprite: sprite-map("clients/*.png", $position: 100%, $spacing: 5px, $repeat: no-repeat);


@mixin red-box($all-children: false){
  @if $all-children {
    &, div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
  @else{
    >div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
}

@mixin img-polaroid-light($padding: 8px){
  padding: $padding;
  background-color: #fff;
  @include box-shadow(rgba(0,0,0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.3) 0px 0px 2px);
}

@mixin justified-grid($wrap-width: 100%, $item-line-count: 3){
  $item-width: $wrap-width/$item-line-count;
  width: $wrap-width;
  text-align: justify;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only fix */
  > div{
    width: $item-width;
    display: inline-block;
    font-size: initial;
    text-align: center;
    zoom: 1;
    *display: inline; /* IE stuff again */
  }
  &:after, &:before{
    content: "";
    width: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@mixin bottom-footer($body: unquote("#root"), $content: unquote("#root-content")){
  #{$body}{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
  }
  #{$content}{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
  }
}

@mixin box-hover-shadow(){
  @include single-transition(all, 0.2s, ease-in-out, false);
  &:hover{
    cursor: pointer;
    @include box-shadow(rgba(0,0,0,0.1) 6px 6px 6px);
  }
}
