@import "compass/utilities";
@import "compass/layout";
@import "compass/css3";

@mixin red-box($all-children: false){
  @if $all-children {
    &, div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
  @else{
    >div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
}

@mixin img-polaroid-light($padding: 8px){
  padding: $padding;
  background-color: #fff;
  @include box-shadow(rgba(0,0,0, 0.2) 5px 5px 5px, rgba(0, 0, 0, 0.3) 0px 0px 2px);
}

@mixin justified-grid($wrap-width: 100%, $item-width: 32%){
  width: $wrap-width;
  text-align: justify;
  font-size: 0;
  font-size: 12px\9; /* IE6-9 only fix */
  > div{
    width: $item-width;
    display: inline-block;
    font-size: initial;
    text-align: center;
    zoom: 1;
    *display: inline; /* IE stuff again */
  }
  &:after{
    content: "";
    width: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}

@mixin bottom-footer($body: unquote("#root"), $content: unquote("#root-content")){
  #{$body}{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
  }
  #{$content}{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
  }
}

@include font-face("pf_agora_sans_proregular", font-files("/fonts/pfagorasanspro-reg-webfont.eot", "/fonts/pfagorasanspro-reg-webfont.woff", "/fonts/pfagorasanspro-reg-webfont.ttf", "/fonts/pfagorasanspro-reg-webfont.svg"));
@include font-face("pf_agora_sans_proMdIt", font-files("/fonts/pfagorasanspro-mediumital-webfont.eot", "/fonts/pfagorasanspro-mediumital-webfont.woff", "/fonts/pfagorasanspro-mediumital-webfont.ttf", "/fonts/pfagorasanspro-mediumital-webfont.svg"));

@include font-face("PFDinDisplayProLight", font-files("/fonts/pfdindisplaypro-light-webfont.eot", "/fonts/pfdindisplaypro-light-webfont.woff", "/fonts/pfdindisplaypro-light-webfont.ttf", "/fonts/pfdindisplaypro-light-webfont.svg"));
@include font-face("PFDinDisplayProRegular", font-files("/fonts/pfdindisplaypro-reg-webfont.eot", "/fonts/pfdindisplaypro-reg-webfont.woff", "/fonts/pfdindisplaypro-reg-webfont.ttf", "/fonts/pfdindisplaypro-reg-webfont.svg"));
@include font-face("PFDinDisplayProExtraThin", font-files("/fonts/pfdindisplaypro-xthin-webfont.eot", "/fonts/pfdindisplaypro-xthin-webfont.woff", "/fonts/pfdindisplaypro-xthin-webfont.ttf", "/fonts/pfdindisplaypro-xthin-webfont.svg"));

.line{
  height: 1px;
  margin: 25px auto;
  overflow: hidden;
}
.line-dotted{
  border-bottom: 1px dotted #524E4E;
  border-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #777;
  font-family: 'Arial','Tahoma',sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1em;
  margin-top: 0;
  text-transform: uppercase;
}
