@import "base";

.thumbnails{
  .img-hover{
    margin: inherit;
  }
}
.catalog-groups{
  .catalog-group-items{
    margin-bottom: 30px;
    .media-heading{
      > a{
        @include link-colors(#777, darken(#777, 10%), #777, #777, #777);
        font-weight: 500;
        font-size: 16px;
      }
    }
    .list-items{
      li{
        margin-bottom: 5px;
      }
    }
  }
}
.catalog-item{
  margin-bottom: 20px;
  .dl-horizontal{
    margin: auto;
    dt{width: auto;}
    dd{margin-left: 80px;}
  }
  .form-horizontal{
    .properties-item{
      min-height: 230px;
    }
    .control-group{
      margin-bottom: 5px;
      .control-label{
        /* width: 120px; */
        font-weight: bold;
        font-size: 13px;
      }
      .controls{
        /* margin-left: 150px; */
        input{
          border: {
            color: transparent;
          }
          box-shadow: none;
        }
        .control-text{
          line-height: 32px;
          padding-left: 7px;
        }
      }
    }
    .count-item{
      >span{
        line-height: 30px;
      }
    }
    .add-order{
      opacity: 0;
    }
  }
  .specifications-item{
    margin-top: 30px;
    .messages{
      .message-name{
        text-transform: capitalize;
        font:{
          weight: bold;
        }
      }
      .message-info{
        line-height: 30px;
        font:{
          size: 80%;
        }
        > span {
          margin-right: 10px;
        }
        .rating{
          color: #EA2125;
        }
      }
    }
  }
  .crop-img{
    display: block;
    max-height: 250px;
    overflow: hidden;
  }
}
.description{
  blockquote{
    > p{
      font-size: inherit;
    }
  }
}
