@import "base";
@include sticky-footer(70px, ".layout", ".layout-footer", ".footer");

body{
  //@include red-box(true);
  background:{
    image: image-url("bg-body.png");
    position: top top;
    repeat: repeat;
  }
}

.header{
  margin:{
    bottom: 10px;
    top: 25px;
  }
  .logo{
    >span{
      width: 149px;
      font:{
        family: "PFDinDisplayProLight";
        size: 11px;
      }
      text-transform: uppercase;
      display: block;
    }
  }
  .top-menu{
    margin:{
      bottom: 15px;
      top: 5px;
    }
    .navbar{
      .divider-vertical{
        border-right-color: rgb(144, 144, 144);
      }
    }
  }
  .main-menu{
    .navbar-inverse{
      .navbar-search{
        .search-query{
          font-size: 11px;
          line-height: 20px;
          margin-top: 2px;
          padding:{
            top: 2px;
            bottom: 2px;
          }
        }
      }
    }
  }
  .phone{
    font:{
      family: "PFDinDisplayProLight";
      size: 27px;
    }
    line-height: 58px;
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
  }
}
.middle{
  .catalog-menu{
    font-style: italic;
    padding:{
      top: 18px;
      bottom: 10px;
      left: 65px;
      right: 70px;
    }
    //background-color: transparent;
    @include box-shadow(rgba(0,0,0,.1) -1px 3px 6px);
  }
  .head-contact{
    padding-top: 15px;
    color: #777;
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
    >span{
      font:{
        size: 11px;
      }
    }
    .phone{
      margin-bottom: 10px;
      font:{
        family: "PFDinDisplayProLight";
        size: 28px;
      }
      line-height: normal;
      >i{
        font-size: 80%;
      }
    }
  }
}
