@import "base";
@import "fonts";
@include sticky-footer(310px, ".layout", ".layout-footer", ".footer");

body{
  //@include red-box(true);
  background:{
    image: image-url("body.jpg");
    position: 0 0;
    repeat: repeat;
  }
  overflow-x: visible;
}
h1, h2, h3, h4, h5, h6 {
  color: #777;
  @include text-shadow(rgb(255,255,255) 0px 1px 0px);
  > a{
    @include link-colors(#2f2f2f, darken(#2f2f2f, 10%), #2f2f2f, #2f2f2f, #2f2f2f);
  }
}
select{
  .empty{
    display: none;
  }
}
textarea{
  resize: vertical;
}
.required{
  position: relative;
  &:after{
    content: "*";
    color: red;
    position: absolute;
    display: block;
    right: -10px;
    top: 0;
  }
}
.wrapper{
  padding: 0 50px;
  @include box-shadow(rgba(0, 0, 0, 0.1) -10px 0px 8px, rgba(0, 0, 0, 0.1) 10px 0px 8px);
  &.layout{
    background-color: #fff;
    border:{
      top: 15px solid #231f20;
    }
  }
  .footer &{
    background-color: #231f20;
  }
}
.unified {
  font-family: 'Arial','Tahoma',sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1em;
  margin:{
    top: 0;
    bottom: 20px;
  }
  text-transform: uppercase;
  &.page-title{
    color: #9D9D00;
    font-size: 24px;
    text-transform: none;
  }
}
.h1 {
  font:{
    size: 32px;
    weight: 500;
  }
  line-height: 1;
}
.h2{
  font-size: 24px;
}
.h3{
  font-size: 18px;
}
.h4 {
  font:{
    size: 13px;
    weight: 700;
  }
}
.img-hover{
  margin:{
    bottom: 10px;
    right: 20px;
  }
  @include single-transition(all, 0.2s, ease-in-out, false);
  &:hover{
    @include box-shadow(rgba(0,0,0,0.1) 6px 6px 6px);
  }
  .thumbnail &{
    margin: 0;
  }
}
a.img-hover{
  display: inline-block;
}
.line{
  height: 1px;
  margin: 25px auto;
  overflow: hidden;
}
.line-dotted{
  border-bottom: 1px dotted #524E4E;
  border-top: 0;
}
.line-solid{
  background-color: #ccc;
  border-bottom: 1px solid #F9F9F9;
}
.header{
  margin:{
    bottom: 10px;
    top: 15px;
  }
  .logo{
    margin-top: 4px;
    >span{
      width: 149px;
      font:{
        family: "PFDinDisplayProLight";
        size: 11px;
      }
      text-transform: uppercase;
      display: block;
    }
  }
  .top-menu{
    margin:{
      bottom: 22px;
      top: 5px;
    }
    font-size: 13px;
    .navbar{
      .divider-vertical{
        border-right-color: rgb(144, 144, 144);
      }
    }
  }
  .main-menu{
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
    .navbar{
      margin-bottom: 0;
      .navbar-search{
        .search-query{
          font-size: 11px;
          line-height: 20px;
          margin-top: 2px;
          padding:{
            top: 2px;
            bottom: 2px;
          }
        }
      }
    }
  }
  .head-contact{
    color: #777;
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
    >span{
      font:{
        size: 11px;
      }
    }
    .phone{
      margin-bottom: 10px;
      font:{
        family: "PFDinDisplayProLight";
        size: 28px;
      }
      line-height: normal;
      >i{
        font-size: 80%;
      }
    }
  }
  .breadcrumb{
    background-color: transparent;
  }
}
.main{
  margin-bottom: 40px;
  .price{
    font: {
      size: 22px;
      weight: bold;
    }
    line-height: 30px;
    color: #EA2125;//#9D9D00;
  }
  .img-content{
    &.pull-left{
      margin:{
        right: 30px;
        bottom: 20px;
      }
    }
  }
}
.row-fluid .left-menu{
  margin-left: 0;
}
.footer{
  position: relative;
  background-color: transparent; //#727272;
  color: #999;//#f5f5f5;
  font-size: 12px;
  //@include box-shadow (rgba(0, 0, 0, 0.3) 0 6px 8px -4px inset);
  .container{
    padding-top: 20px;
    min-height: 310px;
  }
  .copyright{
    margin:{
      bottom: 20px;
    }
  }
  .nav{
    &:last-child{
      margin-bottom: 0;
    }
    .nav-header{
      border:{
        bottom: 1px dotted #524E4E;
      }
      margin:{
        bottom: 10px;
        right: 25px;
      }
      padding:{
        top: 0;
        bottom: 3px;
        left: 0;
        right: 0;
      }
      text-shadow: none;
      font:{
        size: 13px;
      }
    }
    &.fa-ul{
      .nav-header{
        margin-left: -25px;
      }
      .fa-li{
        margin:{
          top: 2px;
        }
      }
    }
    >li{
      >a{
        display: inline-block;
        color: inherit;
        &:hover{
          color: darken(#fff, 15%);
          background-color: transparent;
        }
      }
    }
    &.contact{
      >li{
        >a{
          border-bottom: 1px dashed #999;
          &:hover{
            border-bottom-style: solid;
          }
        }
      }
    }
  }
  .social{
    margin-top: 40px;
    .soc-ico{
      display: block;
      height: 24px;
      width: 25px;
      &.vk{
        background: sprite($social-sprite, vk);
      }
      &.facebook{
        background: sprite($social-sprite, facebook);
      }
      &.odnoklassniki{
        background: sprite($social-sprite, odnoklassniki);
      }
      &.twitter{
        background: sprite($social-sprite, twitter);
      }
    }
  }
  .line-solid{
    background-color: darken(#231f20, 15%);
    border-bottom: 1px solid lighten(#231f20, 15%);
  }
}
.catalog-menu{
  border-color: #ddd;
  @include border-radius(4px, 4px);
  @include box-shadow (rgba(0, 0, 0, .0555) 0 1px 3px);
  background-color: #f9f9f9;
  margin-top: 44px;
  .nav-header{
    background-color: #e4e4e4;
    color: #6e6e6e;
    font:{
      family: arial,tahoma,sans-serif;
      size: 14px;
      weight: 500;
    }
    text-transform: uppercase;
    line-height: 28px;
  }
  >li{
    >a{
      position: relative;
      >i{
        &.pull-right{
          line-height: inherit;
          position: absolute;
          right: 8px;
        }
      }
    }
  }
}
.white-popup-block{
  .modal-label{
    font:{
      size: 13px;
      weight: bold;
    }
    color: #999;
    line-height: 20px;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .modal-body {
    max-height: 100%;
    margin-top: 20px;
    .message{
      min-height: 20px;
      margin-bottom: 20px;
      padding: 24px;
    }
  }
  >form{
    margin: 0;
    border: 1px solid #eee;
  }
}

.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
  .container1,
  .container2,
  .container3{
    >div{
      width: 12px;
      height: 12px;
      background-color: #fff;

      border-radius: 100%;
      position: absolute;
      -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
      animation: bouncedelay 1.2s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
  }
  .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .container1{
    .circle2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
    .circle3 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .circle4 {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  .container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    .circle1 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
    .circle2 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
    .circle3 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .circle4 {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
  }
  .container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    .circle1 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
    .circle2 {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .circle3 {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .circle4 {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
    }
  }
  .circle1 { top: 0; left: 0; }
  .circle2 { top: 0; right: 0; }
  .circle3 { right: 0; bottom: 0; }
  .circle4 { left: 0; bottom: 0; }
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
