@import "base";

.user-menu{
  .fa{
    margin-right: 10px;
  }
  >li{
    &:last-child{
      background-color: #f9f9f9;
    }
  }
}
.left-user-profile{
  .line-dotted{
    border-bottom-color: #ccc;
  }
  .profile-header{
    margin:{
      top: 10px;
      bottom: 15px;
    }
  }
  .fa-ul{
    li{
      .fa{
        color: #ccc;
      }
    }
  }
  .stat-count{
    >a{
      display: block;
      font:{
        size: 28px;
        weight: bold;
      }
      line-height: 1;
      @include link-colors(inherit, #4183c4);
      &:hover{
        text-decoration: none;
      }
    }
    >span{
      display: block;
      font-size: 11px;
      color: #999;
      text-transform: capitalize;
    }
  }
}
.accordion-group{
  .accordion-toggle{
    &:hover{
      background-color: #dff0d8;
    }
  }
  .active{
    color: #468847;
    background-color: #dff0d8;
    @include text-shadow(rgba(255, 255, 255, 0.5) 0 1px 0);
  }
  .row-fluid [class*="span"]{
    min-height: 20px;
  }
  .order-head{
    .fa{
      color: #999;
      &:before{
        line-height: 1;
        margin-right: 20px;
      }
    }
  }
  .order-structure{
    >span{
      color: #999;
      display: inline-block;
      font-size: 11px;
      margin-right: 10px;
    }
  }
  .order-actions{}
}
