-@view = {:title=>"О компании", :description=>"О компании", :keywords=>"О компании"}
-@css = "contact"
-@script = "contact"
-@activeContact = "active"
-@breadcrumbs = [{:path=>'contact',:name=>'О компании'}]

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]

.row-fluid
  .span3
  .span9
