-@view = {:title=>"Каталог", :description=>"Каталог продукции HoReCa Store", :keywords=>"Каталог"}
-@css = "catalog"
-@script = "catalog"
-@activeCatalog = "active"
-@breadcrumbs = "catalog"

.row-fluid.catalog-groups
  .span3
  .span9
    %h1.unified= @view[:title]
