-@view = {:title=>"Главная", :description=>"Главная", :keywords=>"Главная"}
-@css = "home"
-@script = "home"

-@middle = "middle2"

.line.line-dotted
.row-fluid
  .span3
    .price-list
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header
          %span Скачать прайс листы
        -12.times do
          %li=link_to('<i class="fa fa-download fa-fw"></i>&nbsp; Раздел товара', '#', :title=>'Скачать прайс лист')
  .span9
    %section.about.clearfix
      %h2.unified О нас
      %p Компания HoReCa Store начала свою деятельность в 2011 году с организации розничных продаж домашнего текстиля. За несколько лет накоплен большой опыт, критическая масса поставщиков более чем из десяти стран мира.
      %p В данный момент HoReCa Store - профессиональный поставщик широкого перечня товаров используемых в работе гостиничных и ресторанных сетей, для которых дизайн и качество продукции является ключом к успеху...
      =link_to("Подробнее...","#", :class=>"btn btn-link pull-right")
    .line.line-dotted
    %section.products-recom
      %h2.unified Рекомендованные товары
      .row-fluid
        %ul.thumbnails.recom-items
          -4.times do
            %li.span3
              .thumbnail.item.text-center
                %h3.unified Название товара
                = link_to(image_tag(lorem_image("140x120"), :class=>"img-hover"),'/catalog/category/group/item.html')
                .captions.clearfix
                  %span.price.pull-left<
                    1500
                    %i.fa.fa-rub.fa-fw
                  %a.btn.pull-right
                    %i.fa.fa-shopping-cart.fa-fw
.line.line-dotted
.row-fluid
  .span12
    %section.clients
      %h2.unified Наши клиенты
      .carousel_clients
        -12.times do
          .text-center= image_tag(lorem_image("140x100"))

