-@view = {:title=>"Поиск по сайту", :description=>"Поиск по сайту", :keywords=>"Поиск по сайту"}
-@breadcrumbs = [{:path=>'search',:name=>@view[:title]}]

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]

.row-fluid
  .span3
  .span9
