-@view = {:title=>"Категория товаров", :description=>"Категория товаров", :keywords=>"Каталог"}
-@css = "catalog"
-@script = "catalog"
-@activeCatalog = "category"
-@breadcrumbs = [{:path=>'catalog',:name=>'Каталог'},{:path=>'catalog/category',:name=>'Категория товаров'}]

.main{:role=>"main"}
  .row-fluid
    .span9.offset3
      %h1.unified.page-title= @view[:title]
  .row-fluid
    .span3
      = render :partial => "/layouts/catalog_menu", :locals=>{:nav_header => @view[:title], :count_item => 9, :link_path => "/catalog/category/group.html", :item_name=>"Группа товаров в категории"}
    .span9.catalog-groups
      -4.times do
        .row-fluid.catalog-group-items
          -2.times do
            .span6
              .media-heading.line-dotted= link_to('Группа товаров в категории', '/catalog/category/group.html')
              .media
                = link_to(image_tag(lorem_image("120x140"),:class=>'media-object img-polaroid'),'/catalog/category/group.html', :class=>'pull-left img-hover')
                .media-body.list-items
                  %ul
                    -6.times do
                      %li=link_to("Наименование товара","/catalog/category/group/item.html")
