-@view = {:title=>"Заказ товара", :description=>"Заказ товара", :keywords=>"Заказ товара"}
-@css = "catalog"
-@script = "catalog"
-@breadcrumbs = [{:path=>'catalog',:name=>'Каталог'},{:path=>'catalog/order',:name=>'Заказ товара'}]

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]
