-@view = {:title=>"Ваш заказ оформлен", :description=>"Ваш заказ оформлен", :keywords=>"Ваш заказ оформлен"}
-@css = "order"
-@breadcrumbs = [{:path=>'catalog',:name=>"Каталог"},{:path=>'catalog/order',:name=>"Заказ товара"},{:path=>'catalog/order/create_order',:name=>@view[:title]}]

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]
.row-fluid
  .span3
    = render :partial=>"/layouts/user_menu"
  .span9
    %p Ваш заказ № 123 от 24.06.2014 г. принят.
    %p Подробная информация о заказе выслана на указанную Вами электронную почту.
    %p В ближайшее время наши менеджеры обязательно свяжутся с Вами.
    %p Если с Вами не связались в ближайшее время - просьба сообщить нам об этом по телефону или по электронной почте alex@horecastore.ru. Ваш запрос будет обязательно рассмотрен и принят во внимание!
    %p Благодарим за выбор нашего магазина.
