@import "base";
@import "fonts";
@include sticky-footer(250px, ".layout", ".layout-footer", ".footer");

body{
  //@include red-box(true);
  overflow: hidden;
  /* background:{
    image: image-url("body.jpg");
    position: 0 0;
    repeat: repeat;
  }
  .wrapper{
    padding: 0 50px;
    background-color: #fff;
    @include box-shadow(rgba(0, 0, 0, 0.1) -10px 0px 8px, rgba(0, 0, 0, 0.1) 10px 0px 8px);
    border:{
      top: 15px solid #231f20;
    }
  } */
}
h1, h2, h3, h4, h5, h6 {
  color: #777;
  &.unified {
    font-family: 'Arial','Tahoma',sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1em;
    margin:{
      top: 0;
      bottom: 20px;
    }
    text-transform: uppercase;
  }
  @include text-shadow(rgb(255,255,255) 0px 1px 0px);
  > a{
    @include link-colors(#2f2f2f, darken(#2f2f2f, 10%), #2f2f2f, #2f2f2f, #2f2f2f);
  }
  &.page-title{
    color: #9D9D00;
    font-size: 24px;
    text-transform: none;
  }
}

.h1 {
  font:{
    size: 32px;
    weight: 500;
  }
  line-height: 1;
}
.h2{
  font-size: 24px;
}
.h3{
  font-size: 18px;
}
.h4 {
  font-size: 13px;
}
.img-hover{
  margin:{
    bottom: 10px;
    right: 20px;
  }
  @include single-transition(all, 0.2s, ease-in-out, false);
  &:hover{
    @include box-shadow(rgba(0,0,0,0.1) 6px 6px 6px);
  }
  .thumbnail &{
    margin: 0;
  }
}
.line{
  height: 1px;
  margin: 25px auto;
  overflow: hidden;
}
.line-dotted{
  border-bottom: 1px dotted #524E4E;
  border-top: 0;
}
.header{
  margin:{
    bottom: 10px;
    //top: 15px;
  }
  .logo{
    >span{
      width: 149px;
      font:{
        family: "PFDinDisplayProLight";
        size: 11px;
      }
      text-transform: uppercase;
      display: block;
    }
  }
  .top-menu{
    margin:{
      bottom: 22px;
      top: 5px;
    }
    font-size: 13px;
    .navbar{
      .nav{
        >li{
          >a{
            padding:{
              top: 2px;
              bottom: 2px;
            }
          }
        }
      }
      .divider-vertical{
        border-right-color: rgb(144, 144, 144);
        height: 22px;
      }
    }
  }
  .main-menu{
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
    .navbar{
      margin-bottom: 0;
      .navbar-search{
        .search-query{
          font-size: 11px;
          line-height: 20px;
          margin-top: 2px;
          padding:{
            top: 2px;
            bottom: 2px;
          }
        }
      }
    }
  }
  .head-contact{
    //color: #777;
    @include text-shadow(rgb(255,255,255) 0px 1px 0px);
    >span{
      font:{
        size: 11px;
      }
    }
    .phone{
      margin-bottom: 10px;
      font:{
        family: "PFDinDisplayProLight";
        size: 32px;
      }
      line-height: normal;
      >i{
        font-size: 80%;
      }
    }
  }
  .breadcrumb{
    background-color: transparent;
  }
  .head{
    height: 300px;
    .head-contact,
    .search{
      height: 162px;
    }
    .nav-head{
      margin-top: 50px;
    }
  }
}
.box{
  position: relative;
  .inner{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.left-menu{
  border-color: #ddd;
  @include border-radius(4px, 4px);
  @include box-shadow (rgba(0, 0, 0, .0555) 0 1px 3px);
  background-color: #f9f9f9;
  .nav-header{
    background-color: #e4e4e4;
    color: #6e6e6e;
    font:{
      family: arial,tahoma,sans-serif;
      size: 14px;
      weight: 500;
    }
    text-transform: uppercase;
    line-height: 28px;
  }
  >li{
    >a{
      position: relative;
      >i{
        &.pull-right{
          line-height: inherit;
          position: absolute;
          right: 8px;
        }
      }
    }
  }
}
.main{
  margin-bottom: 40px;
  .price{
    font: {
      size: 22px;
      weight: bold;
    }
    line-height: 30px;
    color: #EA2125;//#9D9D00;
  }
}
.footer{
  position: relative;
  background-color: rgba(0, 0, 0, .05);//#727272;
  color: #f5f5f5;
  font-size: 12px;
  @include box-shadow (rgba(0, 0, 0, 0.3) 0 6px 8px -4px inset);
  .container{
    padding-top: 20px;
  }
}
