@font-face {
  font-family: "pf_agora_sans_proregular";
  src: url(/fonts/pfagorasanspro-reg-webfont.eot) format('embedded-opentype'), url(/fonts/pfagorasanspro-reg-webfont.woff) format('woff'), url(/fonts/pfagorasanspro-reg-webfont.ttf) format('truetype'), url(/fonts/pfagorasanspro-reg-webfont.svg) format('svg');
}

@font-face {
  font-family: "pf_agora_sans_proMdIt";
  src: url(/fonts/pfagorasanspro-mediumital-webfont.eot) format('embedded-opentype'), url(/fonts/pfagorasanspro-mediumital-webfont.woff) format('woff'), url(/fonts/pfagorasanspro-mediumital-webfont.ttf) format('truetype'), url(/fonts/pfagorasanspro-mediumital-webfont.svg) format('svg');
}

@font-face {
  font-family: "PFDinDisplayProLight";
  src: url(/fonts/pfdindisplaypro-light-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-light-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-light-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-light-webfont.svg) format('svg');
}

@font-face {
  font-family: "PFDinDisplayProRegular";
  src: url(/fonts/pfdindisplaypro-reg-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-reg-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-reg-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-reg-webfont.svg) format('svg');
}

@font-face {
  font-family: "PFDinDisplayProExtraThin";
  src: url(/fonts/pfdindisplaypro-xthin-webfont.eot) format('embedded-opentype'), url(/fonts/pfdindisplaypro-xthin-webfont.woff) format('woff'), url(/fonts/pfdindisplaypro-xthin-webfont.ttf) format('truetype'), url(/fonts/pfdindisplaypro-xthin-webfont.svg) format('svg');
}

/* line 81, ../sass/_base.scss */
.line {
  height: 1px;
  margin: 25px auto;
  overflow: hidden;
}

/* line 86, ../sass/_base.scss */
.line-dotted {
  border-bottom: 1px dotted #524E4E;
  border-top: 0;
}

/* line 91, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #777;
  text-shadow: white 0px 1px 0px;
}
/* line 93, ../sass/_base.scss */
h1.unified, h2.unified, h3.unified, h4.unified, h5.unified, h6.unified {
  font-family: 'Arial','Tahoma',sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* line 108, ../sass/_base.scss */
.h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

/* line 115, ../sass/_base.scss */
.h2 {
  font-size: 24px;
}

/* line 118, ../sass/_base.scss */
.h3 {
  font-size: 18px;
}

/* line 121, ../sass/_base.scss */
.h4 {
  font-size: 13px;
}

/* line 10, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.layout {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -70px;
}
/* line 18, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.layout .layout-footer {
  height: 70px;
}

/* line 20, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.footer {
  clear: both;
  position: relative;
  height: 70px;
}

/* line 4, ../sass/screen.scss */
body {
  background-image: url('/images/bg-body.png');
  background-position: top top;
  background-repeat: repeat;
  overflow: hidden;
}

/* line 14, ../sass/screen.scss */
.header {
  margin-bottom: 10px;
  margin-top: 25px;
}
/* line 20, ../sass/screen.scss */
.header .logo > span {
  width: 149px;
  font-family: "PFDinDisplayProLight";
  font-size: 11px;
  text-transform: uppercase;
  display: block;
}
/* line 30, ../sass/screen.scss */
.header .top-menu {
  margin-bottom: 22px;
  margin-top: 5px;
  font-size: 13px;
}
/* line 37, ../sass/screen.scss */
.header .top-menu .navbar .divider-vertical {
  border-right-color: #909090;
}
/* line 42, ../sass/screen.scss */
.header .main-menu {
  text-shadow: white 0px 1px 0px;
}
/* line 46, ../sass/screen.scss */
.header .main-menu .navbar-inverse .navbar-search .search-query {
  font-size: 11px;
  line-height: 20px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 58, ../sass/screen.scss */
.header .head-contact {
  color: #777;
  text-shadow: white 0px 1px 0px;
}
/* line 61, ../sass/screen.scss */
.header .head-contact > span {
  font-size: 11px;
}
/* line 66, ../sass/screen.scss */
.header .head-contact .phone {
  margin-bottom: 10px;
  font-family: "PFDinDisplayProLight";
  font-size: 28px;
  line-height: normal;
}
/* line 73, ../sass/screen.scss */
.header .head-contact .phone > i {
  font-size: 80%;
}

/* line 80, ../sass/screen.scss */
.middle .head-contact {
  margin-top: 35px;
  color: #777;
  text-shadow: white 0px 1px 0px;
}
/* line 84, ../sass/screen.scss */
.middle .head-contact > span {
  font-size: 11px;
}
/* line 89, ../sass/screen.scss */
.middle .head-contact .phone {
  margin-bottom: 10px;
  font-family: "PFDinDisplayProLight";
  font-size: 28px;
  line-height: normal;
}
/* line 96, ../sass/screen.scss */
.middle .head-contact .phone > i {
  font-size: 80%;
}
/* line 101, ../sass/screen.scss */
.middle .catalog-menu {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -1px 3px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -1px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) -1px 3px 6px;
  text-shadow: white 0px 1px 0px;
  background-image: url('/images/bg_middle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
}
/* line 116, ../sass/screen.scss */
.middle .catalog-menu a {
  color: #777;
}

/* line 129, ../sass/screen.scss */
.footer {
  position: relative;
  background-color: #727272;
  color: #f5f5f5;
  font-size: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 6px 8px -4px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 6px 8px -4px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 8px -4px inset;
}
/* line 135, ../sass/screen.scss */
.footer .container {
  padding-top: 30px;
}
