.row-fluid
  %ul.breadcrumb
    %li
      =link_to(content_tag(:i, '', :class=>"fa fa-home"), '/')
      %span.divider='/'
    -@breadcrumbs.each do |breadcrumb|
      %li
        %a(href="\/#{breadcrumb[:path]}\.html")#{breadcrumb[:name]}
        %span.divider='/'
