%ul.nav.nav-tabs.nav-stacked.catalog-menu{:role=>"nav"}
  %li.nav-header= nav_header
  -count_item.times do
    %li= link_to(item_name+"#{'<i class="fa fa-caret-right pull-right fa-fw"></i>'}", link_path)
