.row-fluid
  .span4
    %ul.nav.fa-ul
      %li.nav-header Контакты
      %li 199397, Россия, г. Санкт-Петербург, ул. Кораблестроителей, дом 30, к.3, пом. 70н
      %li Телефон: 8(812)305-60-20
      %li Мобильный телефон: +7(921)420-77-20
      %li= "Электронная почта:&nbsp;#{mail_to 'alex@horecastore.ru'}"
  .span4
  .span4
.line.line-solid
.copyright.text-center © HoReCa Store 2014
