.middle
  .row
    .span3
      .head-contact
        %span телефон в Санкт-Петербурге:
        .phone
          %i.fa.fa-phone
          8(812)305-6020
        .email
          %i.fa.fa-envelope-o
          = mail_to "alex@horecastore.ru"
    .span9
      .catalog-menu
        .row-fluid
          .span3
            %ul.nav.nav-pills.nav-stacked
              %li.text-center=link_to("Халаты","/catalog/category/group.html", :class=>"button outline-outward pink")
              %li.text-center=link_to("Полотенца","/catalog/category/group.html", :class=>"button outline-outward blue")
              %li.text-center=link_to("Постель","/catalog/category/group.html", :class=>"button outline-outward yellow")
          .span3
            %ul.nav.nav-pills.nav-stacked
              %li.text-center=link_to("Тапочки","/catalog/category/group.html", :class=>"button outline-outward green")
              %li.text-center=link_to("Покрывала","/catalog/category/group.html", :class=>"button outline-outward pink")
              %li.text-center=link_to("Наматрасники","/catalog/category/group.html", :class=>"button outline-outward blue")
          .span3
            %ul.nav.nav-pills.nav-stacked
              %li.text-center=link_to("Подушки","/catalog/category/group.html", :class=>"button outline-outward yellow")
              %li.text-center=link_to("Матрасы","/catalog/category/group.html", :class=>"button outline-outward green")
              %li.text-center=link_to("Косметика","/catalog/category/group.html", :class=>"button outline-outward pink")
          .span3
            %ul.nav.nav-pills.nav-stacked
              %li.text-center=link_to("Скатерти","/catalog/category/group.html", :class=>"button outline-outward blue")
              %li.text-center=link_to("Салфетки","/catalog/category/group.html", :class=>"button outline-outward yellow")
              %li.text-center=link_to("Посуда","/catalog/category/group.html", :class=>"button outline-outward green")
