-@view = {:title=>"Регистрация нового пользователя", :description=>"Регистрация нового пользователя", :keywords=>"Регистрация нового пользователя"}
-@css = "user"
-@script = "users"
-@breadcrumbs = [{:path=>'users',:name=>"Личный кабинет"},{:path=>'users/registration',:name=>@view[:title]}]

.row-fluid
  .span9.offset3
    %h1.unified.page-title= @view[:title]
.row-fluid
  .span3
    = render :partial=>"/layouts/user_menu"
  .span9
