.row
  .span12.top-menu
    .navbar
      %ul.nav.pull-right
        %li=link_to("О компании","/about.html")
        %li=link_to("Контакты","/contact.html")
        %li=link_to("Личный кабинет","#")
        %li.divider-vertical
        %li
          %a{:href=>'#'}
            %i.fa.fa-shopping-cart.fa-fw
            Заказ товара
.box.head
  .inner
    .row
      .span4.text-left
        .box.head-contact
          .inner
            %span телефон в Санкт-Петербурге:
            .phone
              %i.fa.fa-phone
              8(812)305-6020
            .email
              %i.fa.fa-envelope-o
              = mail_to "alex@horecastore.ru"
      .span4.text-center
        .logo
          =link_to(image_tag('logo/logo-250.jpg', :width=>"250", :height=>"162", :alt=>"HoReCa Store"), "/")
      .span4.text-right
        .social
        .box.search
          .inner
            %form
              .input-append
                %input.input-large{:type=>'text', :placeholder=>"Поиск по сайту"}
                %button.btn
                  %i.fa.fa-search
    .nav-head.text-center
      %ul.inline
        %li=link_to("Для отелей","/catalog/category.html")
        %li=link_to("Для ресторанов","/catalog/category.html")
        %li=link_to("Товары на складе","/catalog/category.html")

.line.line-dotted
